
<div class="p-01">
	<div class="p-02">
		<div class="valeur">
			<div  class="SeparateValue">Catégories</div>
			<div>
				<select class="selectValue">
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
				</select>
			</div>
		</div>
		<div class="valeur">
			<div  class="SeparateValue">ODD</div>
			<div>
				<select class="selectValue">
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
				</select>
			</div>
		</div>
		<div class="valeur">
			<div  class="SeparateValue">Status du projet</div>
			<div>
				<select class="selectValue">
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
				</select>
			</div>
		</div>
		<div class="valeur">
			<div  class="SeparateValue">Région d'exécution</div>
			<div>
				<select class="selectValue">
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
					<option>Toutes</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="ggg">
	
</div>