<%= render 'layouts/head' %>


<div class="project-div">
	<div class="project-text">
		Projets à la une
	</div>
</div>


<div class="margin">
	<div class="project-padding">
		<div class=	"project-contain">
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<div class="soutenir-button pointer">
						<a href="/details/1">
							<svg
							   xmlns:dc="http://purl.org/dc/elements/1.1/"
							   xmlns:cc="http://creativecommons.org/ns#"
							   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
							   xmlns:svg="http://www.w3.org/2000/svg"
							   xmlns="http://www.w3.org/2000/svg"
							   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
							   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
							   width="39.687504mm"
							   height="9.260417mm"
							   viewBox="0 0 39.687504 9.260417"
							   version="1.1"
							   id="svg8"
							   inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
							   sodipodi:docname="Bouton Soutenir.svg">
							  <defs
							     id="defs2" />
							  <sodipodi:namedview
							     id="base"
							     pagecolor="#ffffff"
							     bordercolor="#666666"
							     borderopacity="1.0"
							     inkscape:pageopacity="0.0"
							     inkscape:pageshadow="2"
							     inkscape:zoom="1"
							     inkscape:cx="330.44313"
							     inkscape:cy="92.500005"
							     inkscape:document-units="mm"
							     inkscape:current-layer="layer1"
							     showgrid="false"
							     showborder="true"
							     inkscape:window-width="1280"
							     inkscape:window-height="898"
							     inkscape:window-x="-8"
							     inkscape:window-y="-8"
							     inkscape:window-maximized="1"
							     fit-margin-top="0"
							     fit-margin-left="0"
							     fit-margin-right="0"
							     fit-margin-bottom="0" />
							  <metadata
							     id="metadata5">
							    <rdf:RDF>
							      <cc:Work
							         rdf:about="">
							        <dc:format>image/svg+xml</dc:format>
							        <dc:type
							           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
							        <dc:title></dc:title>
							      </cc:Work>
							    </rdf:RDF>
							  </metadata>
							  <g
							     inkscape:label="Calque 1"
							     inkscape:groupmode="layer"
							     id="layer1"
							     transform="translate(-16.668748,-100.54688)">
							    <g
							       id="g1328"
							       transform="translate(14.731888,-151.70436)">
							      <rect
							         ry="0.79374999"
							         rx="0.79375011"
							         y="252.25124"
							         x="1.9368602"
							         height="9.260417"
							         width="39.687504"
							         id="rect1277"
							         style="fill:#80db22;fill-opacity:0.97448982;stroke:none;stroke-width:0.06236631;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
							      <text
							         id="text823-0-5-0"
							         y="258.47205"
							         x="13.597275"
							         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333311px;line-height:1.25;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332"
							         xml:space="preserve"><tspan
							           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333311px;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';fill:#ffffff;stroke-width:0.26458332"
							           y="258.47205"
							           x="13.597275"
							           id="tspan821-8-5-86"
							           sodipodi:role="line">Soutenir</tspan></text>
							    </g>
							  </g>
							</svg>
						</a>
					</div>
					<div class="suivre-button pointer">
						<svg
						   xmlns:dc="http://purl.org/dc/elements/1.1/"
						   xmlns:cc="http://creativecommons.org/ns#"
						   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						   xmlns:svg="http://www.w3.org/2000/svg"
						   xmlns="http://www.w3.org/2000/svg"
						   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
						   width="20.023518mm"
						   height="9.4402685mm"
						   viewBox="0 0 20.023518 9.4402685"
						   version="1.1"
						   id="svg8"
						   inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
						   sodipodi:docname="Bouton Suivi.svg">
						  <defs
						     id="defs2" />
						  <sodipodi:namedview
						     id="base"
						     pagecolor="#ffffff"
						     bordercolor="#666666"
						     borderopacity="1.0"
						     inkscape:pageopacity="0.0"
						     inkscape:pageshadow="2"
						     inkscape:zoom="1"
						     inkscape:cx="6.213855"
						     inkscape:cy="-5.8837969"
						     inkscape:document-units="px"
						     inkscape:current-layer="layer1"
						     showgrid="false"
						     showborder="false"
						     inkscape:window-width="1280"
						     inkscape:window-height="898"
						     inkscape:window-x="-8"
						     inkscape:window-y="-8"
						     inkscape:window-maximized="1"
						     fit-margin-top="0"
						     fit-margin-left="0"
						     fit-margin-right="0"
						     fit-margin-bottom="0" />
						  <metadata
						     id="metadata5">
						    <rdf:RDF>
						      <cc:Work
						         rdf:about="">
						        <dc:format>image/svg+xml</dc:format>
						        <dc:type
						           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
						        <dc:title></dc:title>
						      </cc:Work>
						    </rdf:RDF>
						  </metadata>
						  <g
						     inkscape:label="Calque 1"
						     inkscape:groupmode="layer"
						     id="layer1"
						     transform="translate(-0.5715747,-38.279866)">
						    <g
						       id="g94">
						      <path
						         inkscape:connector-curvature="0"
						         style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#80db22;stroke-width:0.19049859px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
						         d="m 10.047821,35.375115 h 0 c 0 v 0 c 0 H 0 v 0 c 0 z"
						         id="path880" />
						      <path
						         inkscape:connector-curvature="0"
						         id="path57"
						         d="m 9.4720328,38.925526 c 0.201081,0 0.397185,0.03171 0.5823932,0.08992 0.185206,0.05821 0.359566,0.14273 0.518314,0.248567 0.169333,-0.116416 0.349583,-0.20127 0.537435,-0.256835 0.187854,-0.05556 0.383378,-0.08165 0.584462,-0.08165 0.253997,0 0.502584,0.04738 0.732771,0.142627 0.230185,0.09525 0.441751,0.237897 0.621668,0.428397 0.190497,0.185207 0.333663,0.40134 0.428913,0.632522 0.09525,0.231176 0.142626,0.477636 0.142626,0.725018 0,0.247383 -0.04738,0.495332 -0.142626,0.729155 -0.09525,0.233823 -0.238416,0.453387 -0.428913,0.643887 L 10.57274,45.063655 8.1175938,42.227134 c -0.1905,-0.179915 -0.333666,-0.391419 -0.428916,-0.62425 -0.09525,-0.232832 -0.142626,-0.486797 -0.142626,-0.751374 0,-0.254 0.04738,-0.502587 0.142626,-0.732775 0.09525,-0.230184 0.238416,-0.442267 0.428916,-0.622183 0.179914,-0.1905 0.39148,-0.333148 0.621665,-0.428397 0.230188,-0.09525 0.478774,-0.142627 0.732774,-0.142627 z"
						         style="fill:#80db22;stroke-width:0.26458332" />
						      <text
						         id="text88"
						         y="47.08773"
						         x="6.7542353"
						         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.52777767px;line-height:1.25;font-family:Roboto;-inkscape-font-specification:Roboto;letter-spacing:0px;word-spacing:0px;fill:#80db22;fill-opacity:1;stroke:none;stroke-width:0.26458332"
						         xml:space="preserve"><tspan
						           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Roboto;-inkscape-font-specification:Roboto;fill:#80db22;stroke-width:0.26458332"
						           y="47.08773"
						           x="6.7542353"
						           id="tspan86"
						           sodipodi:role="line">Suivi</tspan></text>
						    </g>
						  </g>
						</svg>
					</div>
				</div>
			</div>
















			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>


















		</div>
	</div>
</div>

<div class="button-all-projets">
	<button class ="button-see-all pointer">Voir tous les projets</button>
</div>
<div class="project-div">
	<div class="project-text">
		Bons plans
	</div>
</div>
<div class="bons-plans-margin">
	<div class="bons-plans">
		<div class="items-BP">
			<div class="bon-plan-items">
				<div class="bons-elements element-one"></div>
				<div class="bons-elements element-two">
					<p>Titre de l'évenement</p>
				</div>
				<div class="bons-elements element-three">
					<div>Date</div>
					<div>Lieu</div>
				</div>
				<div class="bons-elements element-for">
					<svg
					   xmlns:dc="http://purl.org/dc/elements/1.1/"
					   xmlns:cc="http://creativecommons.org/ns#"
					   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
					   xmlns:svg="http://www.w3.org/2000/svg"
					   xmlns="http://www.w3.org/2000/svg"
					   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
					   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
					   width="59.53125mm"
					   height="9.260417mm"
					   viewBox="0 0 59.53125 9.260417"
					   version="1.1"
					   id="svg8"
					   inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
					   sodipodi:docname="Bouton Details.svg">
					  <defs
					     id="defs2">
					    <pattern
					       y="0"
					       x="0"
					       height="6"
					       width="6"
					       patternUnits="userSpaceOnUse"
					       id="EMFhbasepattern" />
					  </defs>
					  <sodipodi:namedview
					     id="base"
					     pagecolor="#ffffff"
					     bordercolor="#666666"
					     borderopacity="1.0"
					     inkscape:pageopacity="0.0"
					     inkscape:pageshadow="2"
					     inkscape:zoom="1"
					     inkscape:cx="259.94312"
					     inkscape:cy="49.500017"
					     inkscape:document-units="mm"
					     inkscape:current-layer="layer1"
					     showgrid="false"
					     showborder="false"
					     inkscape:window-width="1280"
					     inkscape:window-height="898"
					     inkscape:window-x="-8"
					     inkscape:window-y="-8"
					     inkscape:window-maximized="1"
					     fit-margin-top="0"
					     fit-margin-left="0"
					     fit-margin-right="0"
					     fit-margin-bottom="0" />
					  <metadata
					     id="metadata5">
					    <rdf:RDF>
					      <cc:Work
					         rdf:about="">
					        <dc:format>image/svg+xml</dc:format>
					        <dc:type
					           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
					        <dc:title></dc:title>
					      </cc:Work>
					    </rdf:RDF>
					  </metadata>
					  <g
					     inkscape:label="Calque 1"
					     inkscape:groupmode="layer"
					     id="layer1"
					     transform="translate(-35.321875,-89.169796)">
					    <g
					       id="g6060"
					       transform="translate(30.569913,-264.16309)">
					      <rect
					         ry="0.79374999"
					         rx="0.79374999"
					         y="353.33289"
					         x="4.7519617"
					         height="9.260417"
					         width="59.53125"
					         id="rect1277-5"
					         style="fill:#5599ff;fill-opacity:1;stroke:none;stroke-width:0.07622194;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
					      <text
					         xml:space="preserve"
					         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333311px;line-height:1.25;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332"
					         x="27.719872"
					         y="359.55368"
					         id="text823-0-5-0-9-5-1"><tspan
					           sodipodi:role="line"
					           id="tspan821-8-5-86-09-2-1"
					           x="27.719872"
					           y="359.55368"
					           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333311px;font-family:Roboto;-inkscape-font-specification:'Roboto Bold';fill:#ffffff;stroke-width:0.26458332">Détails</tspan></text>
					    </g>
					  </g>
					</svg>
				</div>
			</div>
			<div class="bon-plan-items"></div>
			<div class="bon-plan-items"></div>
			<div class="bon-plan-items"></div>
		</div>
	</div>
</div>
<div class="button-all-projets">
	<button class ="button-see-all pointer">Voir de bons plans</button>
</div>