<%= render 'layouts/head' %>


<div class="project-div">
	<div class="project-text">
		Projets à la une
	</div>
</div>


<div class="margin">
	<div class="project-padding">
		<div class=	"project-contain">
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>
















			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>
			<div class="project-items">
				<div class= "project-title">
					<p class="text-title" > Valintanana 1</p>
				</div>
				<div class="project-picture">
					<img src="/logo/body/fond.jpg" class="project-specify">
				</div>
				<div class="project-creater">
					<div class="project-object">
						<img src="/logo/body/fond.jpg" class="user-pictur">
					</div>
					<div class="project-object user-specify">
						<div class=" user-name"> Nom du porteur</div>
						<div class="university-name"> Nom Universitaire </div>
					</div>
				</div>
				<div class="categorie-odd"> - Catégorie du Projet -ODD N° 5</div>
				<div class="items-all">
					<div class="numbers-left color-green">Nb</div>
					<div class="numbers-rigth color-green">Nb</div>
				</div>
				<div class="items-all">
					<div class="numbers-left">Sur Total</div>
					<div class="numbers-rigth">Valifunder</div>
				</div>
				<div class="progress taills-height">
					<div class="determinate progress-bar" style="width: 75%;"></div>
				</div>
				<div class="items-all items-float">
					<div class="numbers-left color-green">Nb %</div>
					<div class="numbers-rigth color-green">J-Jours</div>
				</div>
				<div class="project-description">
					<div class="description-content">
						valintanana blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla blablabla blablabla
						blablabla blablabla blablabla blablabla blablabla
					</div>
				</div>
				<div class="items-button">
					<button class="soutenir-button pointer">Soutenir</button>
					<button class="suivre-button pointer">Suivre</button>
				</div>
			</div>


















		</div>
	</div>
</div>

<div class="button-all-projets">
	<button class ="button-see-all pointer">Voir tous les projets</button>
</div>
<div class="project-div">
	<div class="project-text">
		Bons plans
	</div>
</div>
<div class="bons-plans-margin">
	<div class="bons-plans">
		<div class="items-BP">
			<div class="bon-plan-items"></div>
			<div class="bon-plan-items"></div>
			<div class="bon-plan-items"></div>
			<div class="bon-plan-items"></div>
		</div>
	</div>
</div>
<div class="button-all-projets">
	<button class ="button-see-all pointer">Voir de bons plans</button>
</div>