.col-hed-foot{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #4d4d4d !important;
    height:21em;
    width: 100%;
    margin-bottom: 2em;
  }
  @media screen and (max-width:800px){
      .col-hed-foot{
          flex-direction:column;
          font-size:9px;
          height: 38em;
      }
      .footer-img{
          display:none;
      }
      .margin-top{
        margin-top:-3px;
      }
  }
.footer-container-1{
    width: 20%;
    height: 90%;
    margin:0.1%;
  }
  @media screen and (max-width:800px){
    .footer-container-1{
        width:100%;
    }
    .footer-p{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 1em;
        justify-items: flex-start;
        align-items: flex-start;
        border:1px solid;
        padding:0 !important;
    }
}
  .footer-img{
    height: 75%;
    width: 70%;
  }
  .image-logo{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 10%;
  }
  .footer-p{
    padding:0 0 0 5%;
  }
  .head-footer{
    font-size:200%;
    color:#b39361;
    font-weight: bold;
  }
  .footer-link{
    color:#ffffff;
  }