.nav-content{
	z-index:9;
	height: 4em;
	background-color:#ffffff ;
}
@media screen and (max-width: 800px){
	.nav-content{
		height: 8em;
		background-color:#ffffff ;
	}
}

.top-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 800px){
	.top-bar{
		margin-top: 3em;
		justify-content: flex-start;
	}
}

.items{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@media screen and (max-width: 800px){
	.items{
		isplay: flex;
		flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		justify-content: space-evenly;
		flex-direction: row;
		align-content: flex-end;
		align-self: baseline;
		position: absolute;
		top: 5em;
	}
}

.menu-top{
	padding: 0 14px 0 12px;
}
@media screen and (max-width: 500px){
	.menu-top{
		padding: 0 14px 0 12px;
	}
}

.border-menu{
	color:#b39361;
}
@media screen and (max-width: 500px){
	.border-menu{
		color:#b39361;
	}
}

@media screen and (max-width: 800px){
	.nav-items{
		height: 1.9em;
	}
}
.none-boder{
	border:none;
}
.menu-search{
	background-color: rgba(179, 147, 97, 0.23);
	height: 40px;
	border: none;
}
@media screen and (max-width: 800px){
	.menu-search{
		width:80%;
		border-radius: 0%;
		height: 2.1em;
	}
}
.menu-search:focus{
	  width: 17em;
	  background-color: #f6f4eecc;
	  box-shadow: 1px 0px 0.5px 1px rgb(179,147,97);
	  padding-left: 1em;
}
.search-bar{
	border-radius:5%;
}
@media screen and (max-width: 800px){
	.search-bar{
		width: 85%;
		margin-left:2em;
	}
}
.menu-nav-top{
	width: 4em;
	height: 4em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 2em;
}
.menu-top-bar{
	width: 2em;
	height: 2em;
	position: absolute;
}
.menu-nav-top:active{
	border:2px solid #8a8783a1;
	box-shadow: 1px 1px #8a8783a1;
}
@media screen and (max-width: 800px){
	.logo-nav-bar{
		position: absolute;
		top: -1em;
		color:red;
	}
	.search-bar,.menu-nav-top{
		align-self: center;
	}
	.menu-nav-top{
		margin-left: 0.2em;
		width: 0.7em;
	}
}
.logo-header{
	height: 6em;
	width: 10em;
	position: absolute;
	top: -0.8em;
	left: 13%;
}
@media screen and (max-width: 800px){
	.logo-header{
		top: 0;
	}
}
@media screen and (min-width: 801px) and (max-width: 1180px){
	.logo-header{
		left:2% !important;
	}
}

.connection-p{
 	width: 15em;
	height: 9.5em;
}
.connection-m{
	z-index: 999;
	position: fixed;
	display: none;
	right: 5px;
	width: 15em;
	background-color:#cfcece80;
	margin-top: 0em;
}
.connection-element{
  background-color: white;
  height: 8em;
}
.element-style-link:hover{
  color:brown;
}
.elements-positions{
	height:6em;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
#cancel{
	margin-top:1em;
	font-weight: bold;
	width: 22em;
	height: 0.5em;
	font-size:15px;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
}
.navBarLeft{
	position:fixed;
	display: none;
	left: 0;
	height: 33em;
	width: 23em;
	background-color:#cfcece80;
	z-index: 8;
}
.contain-nav-padding{
  width: 100%;
  height:100%;
  padding: 0.2% 1% 0 2%;
}
.nav-element{
	background-color:#e3e0e0cf;
	width: 22em;
	height: 32em;
}
.element-style{
  text-transform: uppercase;
  padding: 5%;
}
.element-style-link{
  color:black;
  font-size: 1.1rem;
  font-weight: 300;
}