<div class="detail-head">
	<div class="contain-head">
		<div class="picturs-detail">
			<img src="/logo/body/fond.jpg" class="picture-element">
		</div>
		<div class="text-detail">
			<div class="detail-projet-title">
				Titre du projet
			</div>
			<div class="projet-detail-slogan">
				Slogan
			</div>
			<div class="categorie-details-project">
				-Categorie du projet- CODE N° 5
			</div>
		</div>
	</div>
	<div  class="contain-suivre">
		<div class="border-suivi pointer">
			<img src="/logo/button/details_page/suivre.png" class="suivre-button-details">
		</div>
	</div>
</div>
<div class="details-video">
	<div class="video-contain"></div>
	<div class="video-details">
		<div class="objectif-detail">
			<div class="collect">
				<div class="progress-statut">
					<div class="progress-items"></div>
				</div>
				<div class="progress-statut">   
					<p>
						<span class="text-detail-color">Nombre de colléctés</span>
							<br> sur <br>
						<span class="text-detail-color">nombres Objectifs</span>
					</p>
				</div>
			</div>
			<div class="day-finish">
				<div class="day-details">
					jours restants <br> 58
				</div>
				<div class="valifunder-details">
					Valifunders <br> 05
				</div>
			</div>
		</div>
		<div class="project-identify">
			<img src="/logo/button/details_page/button.png" class="details-button">
		</div>
		<div class="project-none">
			<div class="details-statut">
				<img src="/logo/body/fond.jpg" class="details-status-picture">
			</div>
			<div class="details-statut">
				<span class="text-detail-color"> Nom</span>
				<span class="text-detail-color">Localisation</span>
				<span class="text-detail-color">NB de projets créer</span>
				<span class="text-detail-color">
					NB de projets soutenus
				</span>
			</div>
		</div>
	</div>
</div>
<div class="soutenir-details-one pointer">
	<img src="/logo/button/details_page/soutenir.png" class="soutenir-mQiY">
</div>
<div class="contrepartie-head">
	<div class="contrepartie-text">
		<p>
			Votre contributions vous sera integralement remboursée si le projet n'atteint pas 100% de son objectif
		</p>
	</div>
	<div class="contrepartie-one">
		<p class="choice-paragraph">
			Choisser votre contrepartie.
		</p>
	</div>
</div>

<div class="contre-partie-element">
	<div class="arrow-left-cotrepartie">
		<img src="/logo/button/details_page/arrow_left.png" class="arrow-details pointer">
	</div>
	<div class="items-contreparties">
		<div class="item-partie">
			<div class="title-contrepartie">
				<p class="text-detail-color">
					Pour nb de Takalo ou plus
				</p>
			</div>
			<div class="description-contrepartie">
				Description de la contreparties (40 Mots minimum)
			</div>
			<div class="nb-disponible">
				<div>Nb disponible</div>
				<div>Nb valifunders</div>
			</div>
			<div class="date-envoie">Date d'envoie</div>
			<div class="soutenir">
				<img src="/logo/button/details_page/green_soutenir.png" class="green_soutenir pointer">
			</div>
		</div>

		<div class="item-partie"></div>
		<div class="item-partie"></div>
		<div class="item-partie"></div>
	</div>
	<div class="arrow-rigth-cotrepartie">
		<img src="/logo/button/details_page/arrow_rigth.png" class="arrow-details pointer">
	</div>
</div>



<div class="tab-details">
	<div class="tab-center">
		<div class="width-details">
			<ul class="tabs">
				<li class="tab active item-one-details">
					<a href="#test1" class="color-1">
			            A propos du projet
			        </a>
				</li>
				<li class="tab item-one-details">
					<a href="#test2" class="color-1">
						Actualités
					</a>
				</li>
				<li class="tab item-one-details">
					<a href="#test3" class="color-1">
			            Commentaires
			          </a>
				</li>
				<li class="tab item-one-details">
					<a href="#test4" class="color-1">
			        	Valifunders
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="test1" class="heigth-one">
		a propos
	</div>
	<div id="test2" class="heigth-one">
		actualités
	</div>
	<div id="test3" class="heigth-one">
		commentaires
	</div>
	<div id="test4" class="heigth-one">
		valifunders
	</div>
</div>