<footer class="col-hed-foot" id='footer'>
  <div class="footer-container-1">
    <div class="image-logo">
      <img src="/logo/footer/footer-img.png" class="footer-img">
    </div>
  </div>
  <div class="footer-container-1">
    <div class="footer-p">
      <div class="head-footer">
        Nous contacter
      </div>
      <div class="footer-link">
        <p class="margin-top">
          info@valintanana.mg
        </p>
        <p class="margin-top">
          +261 34 00 000 00
        </p>
        <p class="margin-top">
          Lot 00 Lieu Domiciliation
        </p>
      </div>
    </div>
  </div>
  <div class="footer-container-1">
    <div class="footer-p">
      <div class="head-footer">
        Espace Pro
      </div>  
      <div>
        <a href="#" class="footer-link">
          <p class="margin-top">
            L'équipe
          </p>
        </a>
        <a href="#" class="footer-link">
          <p class="margin-top">
            Nos partenaires
          </p>
        </a>
        <a href="#" class="footer-link">
          <p class="margin-top">
            Devenir partenaire
          </p>
        </a>
        <a href="#" class="footer-link">
          <p class="margin-top">
            Lancer un appel à projet
          </p>
        </a>
      </div>    
    </div>
  </div>
  <div class="footer-container-1">
    <div class="footer-p">
      <div class="head-footer">
        En Savoir Plus
      </div> 
      <div class="footer-link">
        <a href="#" class="footer-link">
          <p>
            Condition d'utilisation
          </p>
        </a>
        <a href="#" class="footer-link">
          <p>
            Comment ça marche
          </p>
        </a>
        <a href="#" class="footer-link">
          <p>
            Accompagnement
          </p>
        </a>
      </div>     
    </div>
  </div>
  <div class="footer-container-1">
    <div class="footer-p">
      <p class="head-footer">
        Newsletter
      </p>      
    </div>
  </div>

</footer>
