<nav class="nav-content">
  <div class="top-bar">

    <div class="menu-nav-top">
      Menu
    </div>

    <div class="logo-nav-bar">
      <img src="/logo/header/header.png" class="logo-header">
    </div>

    <div class="search-bar">
      <form>
        <input type= '' name="" class="menu-search">
      </form>
    </div>

    <div class="items">
      <div class="menu-top">
        <div class="nav-items none-boder">
          <a href="#" class="border-menu">
              Accueil
          </a>
        </div>
      </div>
      <div class="menu-top">
        <div class="nav-items">
          <a href="#" class="border-menu">
              Tous les projets
          </a>
        </div>
      </div>
      <div class="menu-top">
        <div class="nav-items">
          <a href="#" class="border-menu">
              Notifications
          </a>
        </div>
      </div>
      <div class="menu-top">
        <div class="nav-items">
          <a href="#" class="border-menu">
              Bons plans
          </a>
        </div>
      </div>
      <div class="menu-top">
        <div class="nav-items">
          <a href="#" class="border-menu">
              Takalo
          </a>
        </div>
      </div>
      <div class="menu-top">
        <div class="nav-items">
          <a href="#" class="border-menu">
              Mon compte
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>



