<div>
  <div>
  	<div class="img-background">
	    <div class="p-W3-s">
	    	<div class='E-1 center'>
	    		<p class="BreUi">
	      			<span class="soutenir-bl-h">SOUTENIR LES BONNES INITIATIVES,</span> <br>et être acteur du développement.
	      		</p>
	      		<p class="slogan">
	      			Valintanana est une plateforme de crowdfunding pour les projets universitaires <br> axés sur les objectifs de développement Durable à Madagascar
	      		</p>
			</div>
	    </div>
	</div>
  </div>
</div>
<br>
<br>
